<!DOCTYPE html>
<html style="font-size:12px;">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="container" style="margin-top: 1em;">
<%- include('../partials/courseSelect', {config : config }); %>
<% teams.forEach(function(team) { %>
	<div class="row">
    <div class="col-8" style="border-bottom: 1px solid #ccc;margin-bottom:1em;">
  <% record = config.records[config.currentTourney.year][team.name]; %>
	<h4> <%= team.name %> <span style="color:#AAAAAA;"> (<%= record.wins + "-" + record.losses + "-" + record.ties %>) </span> </h4>
	</div>
	
	<div class="col-4" style="border-bottom: 1px solid #ccc;margin-bottom:1em;">
	<em style="color:#999999;">Winnings: $<%= record.winnings %></em>
	</div>
	</div>
	<% team.players.forEach(function(player)  {  %>
	<div class="row">
	<div class="col-5">
		<%= player.name %>
	</div>
	<div class="col-3">
		<%= player.total %> (<%= player.today %>)
	</div>
	<div class="col-4">
		<%= player.position %> <%= player.thru %>
	</div>
	</div>
	<% }); %>
	<div class="row">
	<div class="col-12"` style="margin-top:.5em;margin-bottom:2em;">
	<em style="color:#999999;">Current Purse $<%= team.purse.toFixed(0) %></em>
	</div>
	</div>
	
<% }); %>
</div>
  <% include ../partials/endincludes.ejs %>
</body>
</html>
